---
import config from "virtual:starlight/user-config";
import LanguageSelect from "virtual:starlight/components/LanguageSelect";
import Search from "virtual:starlight/components/Search";
import SiteTitle from "virtual:starlight/components/SiteTitle";
import SocialIcons from "virtual:starlight/components/SocialIcons";
import ThemeSelect from "virtual:starlight/components/ThemeSelect";
import MobileTableOfContents from "@astrojs/starlight/components/MobileTableOfContents.astro";

const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== "@astrojs/starlight/components/Search.astro";

const { toc } = Astro.locals.starlightRoute;
---

<div class="header">
  <div class="title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <div class="sl-flex print:hidden">
    {shouldRenderSearch && <Search />}
  </div>
  <div class="sl-hidden md:sl-flex print:hidden right-group">
    <div class="sl-flex social-icons">
      <SocialIcons />
    </div>
    <ThemeSelect />
    <LanguageSelect />
  </div>
  {
    toc && (
      <div class="mobile-toc-row lg:sl-hidden print:hidden">
        <MobileTableOfContents />
      </div>
    )
  }
</div>

<style>
  @layer starlight.core {
    .header {
      display: flex;
      flex-wrap: wrap;
      gap: var(--sl-nav-gap);
      justify-content: space-between;
      align-items: center;
    }

    .mobile-toc-row {
      flex-basis: 100%;
    }

    .mobile-toc-row :global(mobile-starlight-toc nav) {
      position: static;
      border: none;
      background: transparent;
    }

    .mobile-toc-row :global(summary) {
      height: auto;
      padding: 0;
      border-bottom: none;
    }

    .mobile-toc-row :global(.dropdown) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      padding-top: calc(
        var(--sl-nav-height) + var(--sl-mobile-toc-height) + var(--sl-frame-gap)
      );
      border-radius: 0 0 var(--sl-frame-gap) var(--sl-frame-gap);
    }

    .title-wrapper {
      overflow: clip;
      padding: 0.25rem;
      margin: -0.25rem;
      min-width: 0;
    }

    .right-group,
    .social-icons {
      gap: 1rem;
      align-items: center;
    }
    .social-icons::after {
      content: "";
      height: 2rem;
      border-inline-end: 1px solid var(--sl-color-gray-5);
    }

    @media (min-width: 50rem) {
      .header {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr auto;
        align-content: center;
      }

      .title-wrapper {
        grid-column: 1;
      }

      .header > :nth-child(2) {
        grid-column: 3;
      }

      .header :global(site-search button) {
        width: 20rem;
      }

      .right-group {
        grid-column: 5;
      }
    }
  }
</style>
