---
import Logo from "./Logo.astro";
---

<a href="/" class="site-title">
  <Logo />
</a>

<style>
  .site-title {
    text-decoration: none;
    display: block;
    --logo-size: 0.3rem;
  }
</style>
