---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart {{ project_name }}-{{ service.name }}
  ansible.builtin.systemd:
    name: "{{ project_name }}-{{ service.name }}.service"
    state: restarted
