---
# Deploy {{ service.name }} service

- name: Create build directory
  ansible.builtin.file:
    path: "/tmp/{{ project_name }}-{{ service.name }}"
    state: directory
    mode: '0755'

- name: Copy Dockerfile
  ansible.builtin.copy:
    src: "{{ service.path }}/Dockerfile"
    dest: "/tmp/{{ project_name }}-{{ service.name }}/Dockerfile"
    mode: '0644'

- name: Sync source code
  ansible.posix.synchronize:
    src: "{{ service.path }}/"
    dest: "/tmp/{{ project_name }}-{{ service.name }}/"
    delete: yes
    rsync_opts:
      - "--exclude=node_modules"
      - "--exclude=.venv"
      - "--exclude=__pycache__"
      - "--exclude=.git"

- name: Build container image
{% if container_runtime == 'podman' %}
  containers.podman.podman_image:
    name: "{{ project_name }}-{{ service.name }}"
    path: "/tmp/{{ project_name }}-{{ service.name }}"
    force: yes
    force_rm: yes
    state: build
{% else %}
  community.docker.docker_image:
    name: "{{ project_name }}-{{ service.name }}"
    build:
      path: "/tmp/{{ project_name }}-{{ service.name }}"
    source: build
    force_source: yes
    force_rm: yes
{% endif %}
  notify: Restart {{ project_name }}-{{ service.name }}

- name: Deploy systemd service
  ansible.builtin.template:
    src: systemd.service.j2
    dest: "/etc/systemd/system/{{ project_name }}-{{ service.name }}.service"
    mode: '0644'
  notify:
    - reload systemd
    - Restart {{ project_name }}-{{ service.name }}

- name: Enable and start service
  ansible.builtin.systemd:
    name: "{{ project_name }}-{{ service.name }}.service"
    enabled: yes
    state: started
    daemon_reload: yes
